@charset "UTF-8";

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0
}
body, input, textarea, select, button, table {
    font-family: 'NanumSquare','나눔스퀘어 Regular', AppleSDGothicNeo-Regular , "나눔고딕", NanumGothic,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #1a1a1a
}
img, fieldset {
    border: 0
}
ul, ol {
    list-style: none
}
em, address {
    font-style: normal
}
a {
    text-decoration: none;
    color: #1a1a1a
}
a:hover, a:active, a:focus {
    text-decoration: none
}
button {
    background: none;
    outline: none;
}
hr {
    display: none
}
legend, .blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden
}

img, button {
    border: none
}
button, a {
    cursor: pointer
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
td,td,th{
    height:20px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
th{
    background: #fff9f9;
}

body,html,#wrap{
    width: 100%;
    height: 100%;
}
.option_wrap{
    float: left;
    width:300px;
    height: 100%;
    border-right:1px solid #efefef;
}
.show_wrap{
    overflow: hidden;
    height: 100%;
    padding: 30px;
}

/*  */
.title{
    font-size:22px;
    margin:30px 10px;
    text-align: center;
}
.option_box{
    padding:10px;
}

.option_box label{
    display: inline-block;
    font-size:15px;
    color:#333;
    vertical-align: top;
    margin-bottom:10px;
    padding-right:15px;
    vertical-align:top;
    line-height: 24px;
}

.option_box input[type=radio],.option_box input[type=checkbox]{
    display: inline-block;
    margin-top:2px;
    vertical-align: top;
}
.option_box input[type=text],.option_box input[type=number]{
    display:inline-block;
    margin-bottom:10px;
    vertical-align: top;
    height:22px;
    padding:2px 3px;
    font-size:13px;
    border:1px solid #a7a0a0;
    box-sizing: border-box
}
.option_title{
    display: block;
    margin:10px 0;
    font-size: 17px;
    color:#333;
    font-weight: 600;
    line-height: 25px;
}

.btn_create{
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    border:0;
    background: #7bd3de;
    width: 272px;
    margin: 20px auto;
}

.inp_col_width{
    margin-bottom: 10px;
}
.col_list{
    margin:10px;
    list-style: decimal;
}