@charset 'UTF-8';

/* service page */
#wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1000px;
  font-family: NanumSquare, 나눔스퀘어, NanumGothic, "나눔고딕", sans-serif;
}

// footer
.footer {
  height: 80px;
  margin-top: auto;
  background: #101010;
  font-size: 12px;
  text-align: center;
  color: #999;
  line-height: 80px;
}

// header
.header {
  position: relative;
  background: #fff;
  z-index: 100;

  .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 70px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.logo {
  float: left;
  margin: 0;
  font-size: 24px;
  height: 20px;
  color: #000;
  line-height: 20px;
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.nav {
  margin-left: auto;
}

// tab
.tab {
  list-style: none;
  margin: 0;

  .item {
    display: inline-block;
    margin-left: 20px;

    a {
      display: block;
      font-size: 16px;
      text-decoration: none;
      color: #000;
    }
  }
}

/* border tab */
.tab_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-bottom: 30px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

  .item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 20px;

    &+.item {
      &::before {
        content: '·';
        color: #000;
        margin-right: 18px;
      }
    }
  }

  .link {
    display: block;
    font-size: 15px;
    letter-spacing: -.08px;
    color: #646a74;
    cursor: pointer;
    text-decoration: none;
  }

  .on .link {
    color: #000;
  }
}

// banner
.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
  }

  .banner_content {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .banner_title {
    font-size: 58px;
    color: #fff;
  }

  .banner_description {
    margin: 15px 0 45px;
    font-size: 20px;
    color: #fff;
  }

  .button + .button {
    margin-left: 5px;
  }
}

.button {
  display: inline-block;
  height: 52px;
  padding: 0 24px;
  border:0;
  font-size: 18px;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.translucence {
  color: #000;
  border: 0;
  background: rgba(255, 255, 255, 0.7);
}

.white_outline {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0);
}


/* contents */
.container {
  background: #f1f1f1;
}

.section {
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 0 20px;
}

// title
.title_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.link_moare {
  margin-left: auto;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

// list
.thumb_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;

  .item {
    width: 33.3333%;
    padding: 0;
    box-sizing: border-box;
  }

  .inner {
    position: relative;
    display: block;
    margin: 0 0 20px 20px;
    background: #fff;
    color: #000;
    text-decoration: none;
  }

  .thumb_box {
    overflow: hidden;
    width: 100%;
    height: 220px;
    vertical-align: top;

    &:hover {
      opacity: 0.6;
    }

    img {
      width: 100%;
    }
  }

  .content_box {
    padding: 20px 15px 12px;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .description {
    overflow: hidden;
    height: 46px;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
  }

  .labels {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

// list2
.post_list {
  .item {
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #d5d5d5;
  }

  .inner {
    text-decoration: none;
  }

  .thumb_box {
    float: right;
    width: 210px;
    height: 167px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content_box {
    overflow: hidden;
    padding-right: 25px;
  }

  .title {
    display: block;
    padding: 15px 0 14px;
    font-size: 20px;
    color: #000;
  }

  .description {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }

  .info_box {
    margin-top: 20px;
    line-height: 20px;
    font-size: 13px;
    color: #999;
  }

  .info {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;

    &+.info::before {
      content: '';
      display: inline-block;
      height: 12px;
      margin: 3px 10px 0 0;
      border-left: 1px solid #999;
      vertical-align: top;
    }
  }
}

// labels
.labels {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
}

.new {
  background: #ff9631;
}

.hot {
  background: #f44336;
}