.board {
  width: 500px;
  margin: 0 auto;
  background-color: #ffc078;
}

.row {
  display: flex;
}

.col {
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  z-index: 10;
}

.col:hover {
  background-color: #fd7e14;
}

.col::before {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.col::after {
  position: absolute;
  display: block;
  content: '';
  padding-bottom: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* border-radius: 50%; */
}

.col.black::after {
  background-color: black;
  border-radius: 50%;
}

.col.white::after {
  background-color: white;
  border-radius: 50%;
}

.col__grid {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.col__grid::after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: calc(50% - 1px); bottom: calc(50% - 1px); left: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.col__grid::before {
  display: block;
  content: '';
  position: absolute;
  top: calc(50%); right: -1px; bottom: -1px; left: calc(50% );
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-sizing: border-box;
}

.row:first-child .col__grid::after {
  border-top: none;
  border-left: none;
  border-right: none;
}

.row:last-child .col__grid::before {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.col:first-child .col__grid::after {
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.col:last-child .col__grid::before {
  border-top: none;
  border-bottom: none;
  border-right: none;
}