@CHARSET "UTF-8";
.fp-enabled body,
html.fp-enabled {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent
}

.fp-section {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.fp-slide {
	float: left
}

.fp-slide,
.fp-slidesContainer {
	height: 100%;
	display: block
}

.fp-slides {
	z-index: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.fp-section.fp-table,
.fp-slide.fp-table {
	display: table;
	table-layout: fixed;
	width: 100%
}

.fp-tableCell {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	position:relative;
}




.fp-slidesContainer {
	float: left;
	position: relative
}

.fp-controlArrow {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	position: absolute;
	z-index: 4;
	top: 50%;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: -38px;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.fp-controlArrow.fp-prev {
	left: 15px;
	width: 0;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent
}

.fp-controlArrow.fp-next {
	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff
}

.fp-scrollable {
	position: relative
}

.fp-scrollable,
.fp-scroller {
	overflow: hidden
}

.iScrollIndicator {
	border: 0!important
}

.fp-notransition {
	-webkit-transition: none!important;
	transition: none!important
}

#fp-nav,
.fp-slidesNav {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0)
}

#fp-nav {
	margin-top: -32px;
	top: 50%;
	position: fixed;
	z-index: 100
}

#fp-nav.right {
	right: 17px
}

#fp-nav.left {
	left: 17px
}

.fp-slidesNav {
	position: absolute;
	z-index: 4;
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	left: 0!important;
	right: 0;
	margin: 0 auto!important
}

.fp-slidesNav.bottom {
	bottom: 17px
}

.fp-slidesNav.top {
	top: 17px
}

#fp-nav ul,
.fp-slidesNav ul {
	margin: 0;
	padding: 0
}

#fp-nav ul li,
.fp-slidesNav ul li {
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
	position: relative
}

.fp-slidesNav ul li {
	display: inline-block
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
	height: 12px;
	width: 12px;
	margin: -6px 0 0 -6px;
	border-radius: 100%
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	height: 4px;
	width: 4px;
	border: 0;
	background: #333;
	left: 50%;
	top: 50%;
	margin: -2px 0 0 -2px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px
}

#fp-nav ul li .fp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	display: block;
	opacity: 0;
	width: 0;
	cursor: pointer
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
	-webkit-transition: opacity .2s ease-in;
	transition: opacity .2s ease-in;
	width: auto;
	opacity: 1
}

#fp-nav ul li .fp-tooltip.right {
	right: 20px
}

#fp-nav ul li .fp-tooltip.left {
	left: 20px
}

.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-auto-height.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section {
	height: auto!important
}

blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	padding: 0;
	margin: 0
}

a {
	text-decoration: none
}

table {
	border-spacing: 0
}

abbr,
acronym,
fieldset,
img {
	border: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-weight: 400;
	font-style: normal
}

h1,
strong {
	font-weight: 700
}

strong {
	font-style: normal
}

ol,
ul {
	list-style: none
}

caption,
th {
	text-align: left
}

h1 {
	padding: 0;
	font-size: 8em;
	margin: 0 0 .25em
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-size: 100%
}

q:after,
q:before {
	content: ''
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#fullpage,
.section,
body,
html {
	height: 100%
}

.section.fp-table {
	display: table;
	table-layout: fixed;
	width: 100%
}

.fp-tableCell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%
}

.examples,
.fp-slidesNav.bottom {
	display: none
}

body {
	font-family: arial, helvetica;
	color: #fff
}

[data-lang=ru] h1 {
	font-size: 6em
}

#section-1 h2,
.intro p {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased
}

.intro p {
	max-width: -webkit-calc(30em - (1.3em*2));
	max-width: calc(30em - (1.3em*2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.3em;
	padding-left: 1.3em;
	font-size: 1.5em
}

#section-1,#section-2,#section-3,#section-4{
	position:relative;
}

#section-1 img.left{
	position:absolute;
	opacity:0;
	left:0px;
	top:300px;
}

#section-1 img.right{
	position:absolute;
	opacity:0;
	right:50px;
	top:350px;
}

#section-2 img.left{
	position:absolute;
	opacity:0;
	left:150px;/*250*/
	top:390px;	
}

#section-2 img.right{
	position:absolute;
	opacity:0;
	right:-30px;/*70*/
	top:260px;
}

#section-3 .hulk img.left{
	position:absolute;
	opacity:0;
	left:0px;/*250*/
	top:0px;	
	height:100%;
}

#section-3  div.hulk .hulkdetail {
	position:absolute;
	top:120px;
	right:150px;
}

#section-3  div.hulk .hulkdetail p{
	font-size:1.5em;
}

#section-3 img.right{
	position:absolute;
	opacity:0;
	right:-30px;/*70*/
	top:260px;
}

#section-4 img.left{
	position:absolute;
	opacity:0;
	left:0px;/*100*/
	top:320px;	
}

#section-4 img.right{
	position:absolute;
	opacity:0;
	right:100px;/*200*/
	top:400px;
}

#section-1{
	background-color: #457eff;	
}
#section-2{
	background-color: #0798ec;	
}

#section-3{
	background-color: #fc6c7c;
}
#section-4{
	background-color: #fec401;
}







#fp-nav ul li a span,
#menu-line,
.fp-slidesNav ul li a span {
	background: #fff
}

.section,
.twitter-share i,
.wrap {
	position: relative
}

.section {
	text-align: center
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px
}

#menu-line {
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 159px;
	height: 2px
}

#menu {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 70;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	letter-spacing: 1px;
	font-size: 1.1em
}

#menu li {
	display: inline-block;
	margin: 10px 0
}

#menu a {
	color: #fff;
	padding: 0 1.1em 1.1em
}

.menu-active {
	font-weight: 700
}

#menu-theme-mobile {
	display: none
}

#section-1 {
	background: #457eff
}

#section-1 h1 {
	font-size: 10em;
	font-weight: 900;
	color: #fff
}

#section-1 h2 {
	color: rgba(255, 255, 255, .7);
	font-size: 1.73em;
	font-weight: 100;
	margin: -10px 30px 10px
}

#section-1 li,
.github-data {
	display: inline-block;
	margin: 1.25em .3em
}

.section-1-button {
	padding: .93em 1.87em;
	background: #fff;
	border-radius: 5px;
	display: block;
	color: #ff5f45
}



#download a {
	background: #004f69;
	color: #fff
}

.section-1-usedBy {
	background-image: url(imgs/trusted-by.png);
	width: 80%;
	max-width: 536px;
	height: 36px;
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0
}

.language {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 99;
	opacity: 1
}

.languages {
	display: none
}

.language-current {
	margin: 15px 0 6px 15px;
	z-index: 99;
	cursor: pointer
}

.flag {
	width: 35px;
	height: 24px;
	display: inline-block;
	margin: 0 17px 0 0;
	vertical-align: middle;
	background-image: url(https://alvarotrigo.com/fullPage/imgs/flags.png)
}

.flag-chinese {
	background-position: 0 0
}

.flag-english {
	background-position: -35px 0
}

.flag-russian {
	background-position: -70px 0
}

.flag-korean {
	background-position: -105px 0
}

.flag-spanish {
	background-position: -140px 0
}

.language-triangle {
	position: absolute;
	top: 22px;
	left: 3px;
	fill: #fff;
	height: 6px;
	width: 8px
}

.twitter-share i {
	vertical-align: middle;
	display: inline-block;
	width: 38px;
	height: 14px;
	color: #fff;
	top: -4px;
	left: -2px;
	fill: #fff
}

.twitter-share svg {
	height: 40px;
	margin-top: -10px
}
